description = "Section services"
==
<section class="ftco-section" id="services-section">
	<div class="container">
		<div class="row justify-content-center py-5 mt-5">
      <div class="col-md-12 heading-section text-center ftco-animate">
      	<h1 class="big big-2">Experience</h1>
        <h2 class="mb-4">Experience</h2>
        <p> “Learn from every mistake, because every experience particularly your mistakes, are there to teach you and force you into being more of who you are.” Oprah Winfrey</p>
      </div>
    </div>
		<div class="row">
				<div class="col-md-4 text-center d-flex ftco-animate">
					<a href="#" class="services-1">
						<span class="icon">
							<i class="flaticon-analysis"></i>
						</span>
						<div class="desc">
							<h3 class="mb-5"><B><U>Internship at AIR India Limited</U></B></h3>
							<p class="mt-4"> Web developer Intern , and was working on the project to build an online examination system application </p>
						</div>
					</a>
				</div>
				<div class="col-md-4 text-center d-flex ftco-animate">
					<a href="#" class="services-1">
						<span class="icon">
							<i class="flaticon-ideas"></i>
						</span>
						<div class="desc">
							<h3 class="mb-5"><B><U>Head Of Events at IEEE - MTTS</U></B></h3>
							<p class="mt-4"> Currently acting at this position, Coordinator of Many Events such as Chatbot event , ML Events etc.</p>
						</div>
					</a>
				</div>
			</div>
	</div>
</section>