description = "Section resume"
==
<section class="ftco-section ftco-no-pb" id="resume-section">
	<div class="container">
		<div class="row justify-content-center pb-5">
      <div class="col-md-10 heading-section text-center ftco-animate">
      	<h1 class="big big-2">Resume</h1>
        <h2 class="mb-4">Resume</h2>
        <p>"Take up one idea. Make that one idea your life--think of it, dream of it, live on that idea. Let the brain, muscles, nerves, every part of your body, be full of that idea, and just leave every other idea alone. This is the way to success." --Swami Vivekananda</p>
      </div>
    </div>
		<div class="row">
			<div class="col-md-6">
				<div class="resume-wrap ftco-animate">
					<span class="date">2017-Present</span>
					<h2>Bachelor Degree of Technology</h2>
					<span class="position">Vellore Institute of Technology</span>
					<p class="mt-4">Electronics And Communication Engineering</p>
				</div>
				<div class="resume-wrap ftco-animate">
					<span class="date">2014-2016</span>
					<h2>Intermediate - 10th + 2</h2>
					<span class="position">DAV Public School , BSEB Colony,Patna</span>
					<p class="mt-4"> Stream - Science (Major in - Physics,Chemistry,Mathematics)</p>
				</div>
				<div class="resume-wrap ftco-animate">
					<span class="date">2010-2014</span>
					<h2>High Schooling</h2>
					<span class="position">St. Karen's Secondary School , Patna</span>
					<p class="mt-4">All Subjects</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="resume-wrap ftco-animate">
					<span class="date">2009-2010</span>
					<h2>High School</h2>
					<span class="position">St. Karen's High School ,Patna</span>
					<p class="mt-4">All subjects as per curriculum</p>
				</div>
				<div class="resume-wrap ftco-animate">
					<span class="date">2002-2009</span>
					<h2>Primary Schooling</h2>
					<span class="position">DAV Public Scool , Sasaram ,</span>
					<p class="mt-4"> Early Primary Schooling</p>
				</div>
	
			</div>
		</div>
		<div class="row justify-content-center mt-5">
			<div class="col-md-6 text-center ftco-animate">
				<p><a href="https://drive.google.com/open?id=1o-VTnmKHhpOyH2a63L72ZiFLj1SmN9iB" class="btn btn-primary py-4 px-5">Download CV</a></p>
			</div>
		</div>
	</div>
</section>