description = "About section"
==
<section class="ftco-about img ftco-section ftco-no-pb" id="about-section">
	<div class="container">
		<div class="row d-flex">
			<div class="col-md-6 col-lg-5 d-flex">
				<div class="img-about img d-flex align-items-stretch">
					<div class="overlay"></div>
    				<div class="img d-flex align-self-stretch align-items-center" style="border-radius: 25px; background-image:url({{"assets/images/me.JPG"|theme }});">
    				</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-7 pl-lg-5 pb-5">
				<div class="row justify-content-start pb-3">
	          <div class="col-md-12 heading-section ftco-animate">
	          	<h1 class="big">A propos de moi</h1>
	            <h2 class="mb-4">A propos de moi</h2>
	            <p> I’m in my Pre - final year pursuing B.tech in ECE,I share a great love for technology particularly for programming and have great eagerness to learn more about it. I enjoy the joy in creating a solution for an existing problem by use of technology. I desire to be a software engineer solving real world problems and continuously learn new things and thus broaden my skillset as much as possible.
</p>
	            <ul class="about-info mt-4 px-md-0 px-2">
	            	<li class="d-flex"><span>Nom:</span> <span>Mathieu</span></li>
	            	<li class="d-flex"><span>Naissance:</span> <span>Novembre 11, 1999</span></li>
	            	<li class="d-flex"><span>Code:</span> <span>59000</span></li>
	            	<li class="d-flex"><span>Email:</span> <span>mathieu.gery@epitech.eu</span></li>
	            	<li class="d-flex"><span>Phone: </span> <span>07 81 31 80 21</span></li>
	            </ul>
	          </div>
	        </div>
          <div class="counter-wrap ftco-animate d-flex mt-md-3">
          <div class="text">
          	<p class="mb-4">
                <span class="number" data-number="24">0</span>
                <span>Projects completed</span>
            </p>
            <p><a href="https://drive.google.com/open?id=1o-VTnmKHhpOyH2a63L72ZiFLj1SmN9iB" class="btn btn-primary py-3 px-3">Télécharger mon CV</a></p>
          </div>
          </div>
        </div>
    </div>
	</div>
</section>