description = "Section counter"
==
<section class="ftco-section ftco-no-pt ftco-no-pb ftco-counter img" id="section-counter">
	<div class="container">
			<div class="row d-md-flex align-items-center">
      <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
        <div class="block-18">
          <div class="text">
            <strong class="number" data-number="10">0</strong>
            <span>Certifications</span>
          </div>
        </div>
      </div>
      <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
        <div class="block-18">
          <div class="text">
            <strong class="number" data-number="10">0</strong>
            <span>Complete Projects</span>
          </div>
        </div>
      </div>
      <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
        <div class="block-18">
          <div class="text">
            <strong class="number" data-number="5">0</strong>
            <span>IDES</span>
			<p>Eclipse, SublimeText, Notepad++, Visual Studio Code, Microsotf Visual Studio 2019</p>
          </div>
        </div>
      </div>
	  <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
        <div class="block-18">
          <div class="text">
            <strong class="number" data-number="5">0</strong>
            <span>Other Skills</span>
			<p>GIT, BOOTSTRAP, JQUERY, BOLGGING, MANAGEMENT</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>